<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parqet to Portfolio Performance \nCSV Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<div class="container">
    <img src="{{ url_for('static', filename='csv_converter_logo.png') }}" alt="Company Logo" class="logo" />
        <h1>Parqet to Portfolio Performance CSV Converter</h1>
        <form action="/convert" method="post" enctype="multipart/form-data" class="upload-form">
            <input type="file" name="file" id="file-upload" class="file-upload">
            <label for="file-upload" class="file-label">Choose a file</label>
            <button type="submit" class="convert-button" id="convert-button">
                Convert
                <div class="spinner" id="spinner" style="display: none;"></div>
            </button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
